footer{
    width: 100%;
  }
  
  .footer-menu{
    padding-left: 0px;
    width: 100%;
    height: 100%;
  }
  .footer-menu p {
    margin: 0px;
  }
  
  .footer-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
  }

  
  
  #list-style{
    list-style: none;
  }

  /*Box "NOSSO PORTIFOLIO*/

  .box-portifolio{
    width: 316px;
    height: 40px;
    border: solid 1px;
  }
  
  .textPort p{
    margin: 0px;
  }

  .img-port img{
    width: 26px;
    height: 26px;
  }

  /*box de redes sociais*/

  .redes{
    flex-wrap: wrap;
  }

  .box-redes{
    background-color: #fff;
    width: 40px;
    height: 40px;
  }
  /* Config desktop*/
  
  .contato img{
    width: 14px;
    height: 14px ;
  }
  
  
  @media (min-width: 768px) {
  
    section {
      padding-top: 90px;
    }
  
    nav {
      display: flex;
      align-items: center;
    }
  
  
    .footer-menu li a{
      font-size: 100%;
    }
  
    .footer-menu li{
      font-size: 100%;
    }
    
  }

  @media (max-width: 900px) {
    .box-portifolio{
      flex-direction: column;
      gap: 5px !important;
      font-size: 10px;
      width: 140px;
      height: 64px;
      border: solid 1px;
      }
    .box-contact a{
      font-size: 12px;
    }
  }
  @media (max-width: 700px) {
    .logo-footer{
      display: none !important;
    }
  }

  @media screen and (max-width: 580px) {
    .box-contact{
      display: none !important;
    }
    .box-portifolio{
      border: black;
    }
  }
