* {
  font-family: 'Raleway', sans-serif;
  color: white;
}

a{
  text-decoration: none;
}

.font_Rubi{
  font-family: "Rubik Wet Paint", system-ui;
}

.color-black{
  color: #000000;
}

.color-red{
  color: #EB1515;
}

::-webkit-scrollbar-track-piece {
  background-color: #121212;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #e9e9e9;
}

::-webkit-scrollbar-thumb{
  background-color: #f7ca0077;
  border-radius: 10px;
}


.c-white {
  color: white !important;
}


.menu-responsivo {
  width: 350px;
}



header {
  width: 100%;
  background-color:#121212;
  box-shadow: 9px 4px 4px rgba(0, 0, 0, .1);
}

.icon_nav{
  width: auto;
}

.icon_nav img{
  width: 100%;
  height: 95px;
}

.menu-links-left{
  padding-left:2%;
}

.margin_header{
  margin-left: 5%;
  margin-right: 5%;
}

.button-style{
  font-family: "Rubik Wet Paint", system-ui;
  font-size: 16px;
  color: #000000;
  background-color: #F7CB00 !important;
  padding: 8px 15px 8px 15px;
  border: 2px solid #EB1515;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 30px;
  gap: 25px;
}

.button-style > a{
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

main {
  margin-top: 78px;
}

body {
  margin: -15px 0px;
  background-color: black
}

nav {
  display: flex;
}

.body-menu-mobile{
  background-color: #40798C !important;
}

.logo-mobile img {
  width: 50px;
}

.menu-icon {
  width: 50px;
  height: 50px;
  color: var(--white);
  border: none;
  background-color: transparent;
}

.menu-links{
  width: 22%;
}

.menu-links li a {
  font-size: 14px;
  display: block;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  border-radius: 10px;
}

section {
  scroll-margin-top: 100px;
  min-height: 93vh;
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

section h1 {
  text-align: start;
  font-size: 3em;
  margin: 0;
  padding: 0px 7px 0px 7px;
}

section p {
  text-align: justify;
  font-size: 1.3em;
  margin: 0;
  padding: 0px 7px 0px 7px;
}

#about{
  padding-top: 85px;
}

#team{
  padding-top: 0px;
}


#contact{
  padding-top: 0px;
  min-height: 75vh;
}
/*correção de erro*/

.hide {
  display: none;
}

.show {
  display: block;
}