section#home{
  padding-top: 0px;
}

.banner-home{
  background-image: linear-gradient(rgba(16, 31, 37, 0.73) ,rgb(10, 31, 39, 0.73) ), url(img-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

  .img_home {
    display: none !important;
  }

  .img_topo{
    display: none !important;
  }
  
  #button-home{
    width: 100%;
  }
  
  .text-home{
    width: 95%;
    padding: 0px 20px;
  }
  
  .text-home h1{
    font-size: 3rem;
    padding: 0px;
  }
  
  .son_button2 img{
    width: 35px;
  }

  .button-style a{
    font-size: 17px;
    font-family: "Rubik Wet Paint", system-ui;
    color: black;
    text-decoration: none;
  }


/*
  .button-style-home{ 
    font-size: 16px;
    width: 238px;
    height: 61px;
    color: #000000;
    background-color: #F7CB00 !important;
    padding: 10px 7px 10px 7px;
    border: 2px solid #EB1515;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    gap: 25px;
  }*/
  @media screen and (max-width:375px ) {
    section{
      min-height: 110vh;
    }
  }
  

  @media screen and (max-width:425px ) {
    .text-home h1 {
      font-size: 2.3REM;
      }
  }

  @media screen and (max-width: 1000px) {
  .carousel{
    display: none;
  }
}



  @media screen and (min-width: 1000px) {
    /*Config home*/

 
    .banner-home{
      background-image: none
    }
  
    .img_home{
      display: flex !important;
    }
    .img-home img{
      width: 100%;
      height: 522px;
    }

    .text-home{
      width: 35%;
      padding: 0px 20px;
    }
    
    .text-home h1{
      font-size: 3rem;
      padding: 0px;
    }
    
    #button-home{
      gap: 8px;
      width: 265px;
      height: 61px;
    }
  
    .master-home{
      width: 100%;
      flex-direction: row !important;
    }

    .img-home1 img {
      width: 345px;
    }

  
    .img-home2 img{
      width: 345px;
    }
    
    .master-home{
      margin-left: 9%;
      margin-right: 9%;
    }

    .carousel {
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-bottom: 40px;
    }
    
    .carousel-track {
      display: flex !important;
      width: 200%; /* Dobro do tamanho da div para permitir a animação */
      animation: slide 25s infinite linear;
    }
    
    .carousel-track img {
      width: 50%; /* Para ocupar metade da largura do container */
    }
    
    @keyframes slide {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
}

@media screen and (max-width: 1300px) {
  .img-home1{
      display: none !important;
  }
}

  