.visao{
    background-image: url(13\ 1.png) ;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade */
    background-blend-mode: darken;        /* Combina a cor com a imagem */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 0px;
}

.visao-father{
    width: 95%;
    padding: 75px;
}


.text_visao h1{
    text-align: right;
}

.text_visao p{
    text-align: right;
}

.button-style{
    width: auto;
}

.animation{
    transition: 250ms linear; 

}

.animation:hover {
    transform: scale(1.1);
    color: red !important; 
} 

.text_visao a{
    font-style: italic;         /* Deixa o texto em itálico */
    text-decoration: underline; /* Garante que o link seja sublinhado */
    text-decoration-color: red;
}

@media screen and (max-width: 580px) {
    .visao-father {
        width: 95%;
         padding: 5px;
    }

    .text_visao  p {
        text-align: justify;
    }
    .text_visao  h1{
        text-align: right;
    }
}

@media screen and (min-width: 1000px) {
    .visao-father{
        align-items: flex-end;
        width: 70%;
    }
    .padding-vs{
        padding-right: 9%;
        margin-top: -100px;
    }
    
}

@media screen and (min-width: 1300px) {
    .visao-father{
        width: 55%;
    }
}