.visao{
    background-image: url(13\ 1.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 0px;
}

.visao-father{
    width: 95%;
    padding-right: 0px;
}


.text_visao h1{
    text-align: right;
}

.text_visao p{
    text-align: right;
}

.button-style{
    width: 63%;
}

@media screen and (min-width: 1000px) {
    .visao-father{
        align-items: flex-end;
        width: 40%;
    }
    .padding-vs{
        padding-right: 9%;
        margin-top: -100px;
    }
    
}